@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/bootstrap-reboot";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bg-yellow {
    background-color: $yellow;
}

.logo {
    font-family: "Courier New", Courier, monospace;
    color: rgb(109, 98, 146);
    font-size: 2rem;
}

@import "login";
