<div class="container">
    <h1 class="card">THIS WILL SHOW THE USER'S POSTS SO THEY CAN EDIT
    </h1>
    {{#each postMap}}
        <div class="card">
            <h1>{{post_title}}</h1>
            <p>{{post_body}}</p>
            {{createdAt}}
        </div>
    {{/each}}
</div>